In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import regex as re
import time
from selenium.webdriver.common.alert import Alert
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
import requests
from selenium.webdriver.common.keys import Keys

In [2]:
driver = webdriver.Chrome()
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [8]:
video_name = []
vid_nam = driver.find_elements(By.TAG_NAME,'td')
for i in vid_nam:
    try:
        video_name.append(i.text)
    except NoSuchElementException:
        video_name.append(' - ')

video_name

['',
 "hide\nThis section has multiple issues. Please help improve it or discuss these issues on the talk page. (Learn how and when to remove these template messages)\nThis section's factual accuracy is disputed. (February 2024)\nThis section needs expansion with: Information to the reader the auto-generated playlist from YouTube is not an index of a video popularity due to the views-counting algorithm. You can help by adding to it. (February 2024)",
 '',
 "This section's factual accuracy is disputed. (February 2024)",
 '',
 'This section needs expansion with: Information to the reader the auto-generated playlist from YouTube is not an index of a video popularity due to the views-counting algorithm. You can help by adding to it. (February 2024)',
 '"Baby Shark Dance"[6]',
 "Pinkfong Baby Shark - Kids' Songs & Stories",
 '14.09',
 'June 17, 2016',
 '[A]',
 '"Despacito"[9]',
 'Luis Fonsi',
 '8.38',
 'January 12, 2017',
 '[B]',
 '"Johny Johny Yes Papa"[17]',
 "LooLoo Kids - Nursery Rhymes and Children's Songs",
 '6.87',
 'October 8, 2016',
 '',
 '"Bath Song"[18]',
 'Cocomelon - Nursery Rhymes',
 '6.62',
 'May 2, 2018',
 '',
 '"Shape of You"[19]',
 'Ed Sheeran',
 '6.20',
 'January 30, 2017',
 '[C]',
 '"See You Again"[22]',
 'Wiz Khalifa',
 '6.17',
 'April 6, 2015',
 '[D]',
 '"Wheels on the Bus"[27]',
 'Cocomelon - Nursery Rhymes',
 '5.88',
 'May 24, 2018',
 '',
 '"Phonics Song with Two Words"[28]',
 'ChuChu TV Nursery Rhymes & Kids Songs',
 '5.70',
 'March 6, 2014',
 '',
 '"Uptown Funk"[29]',
 'Mark Ronson',
 '5.15',
 'November 19, 2014',
 '',
 '"Learning Colors – Colorful Eggs on a Farm"[30]',
 'Miroshka TV',
 '5.07',
 'February 27, 2018',
 '',
 '"Gangnam Style"[31]',
 'Psy',
 '5.05',
 'July 15, 2012',
 '[E]',
 '"Masha and the Bear – Recipe for Disaster"[36]',
 'Get Movies',
 '4.58',
 'January 31, 2012',
 '',
 '"Dame Tu Cosita"[37]',
 'Ultra Records',
 '4.55',
 'April 5, 2018',
 '',
 '"Axel F"[38]',
 'Crazy Frog',
 '4.34',
 'June 16, 2009',
 '',
 '"Sugar"[39]',
 'Maroon 5',
 '4.00',
 'January 14, 2015',
 '',
 '"Counting Stars"[40]',
 'OneRepublic',
 '3.97',
 'May 31, 2013',
 '',
 '"Baa Baa Black Sheep"[41]',
 'Cocomelon - Nursery Rhymes',
 '3.96',
 'June 25, 2018',
 '',
 '"Roar"[42]',
 'Katy Perry',
 '3.96',
 'September 5, 2013',
 '',
 '"Lakdi Ki Kathi"[43]',
 'Jingle Toons',
 '3.91',
 'June 14, 2018',
 '',
 '"Waka Waka (This Time for Africa)"[44]',
 'Shakira',
 '3.85',
 'June 4, 2010',
 '',
 '"Sorry"[45]',
 'Justin Bieber',
 '3.77',
 'October 22, 2015',
 '',
 '"Thinking Out Loud"[46]',
 'Ed Sheeran',
 '3.73',
 'October 7, 2014',
 '',
 '"Humpty the train on a fruits ride"[47]',
 'Kiddiestv Hindi - Nursery Rhymes & Kids Songs',
 '3.73',
 'January 26, 2018',
 '',
 '"Shree Hanuman Chalisa"[48]',
 'T-Series Bhakti Sagar',
 '3.69',
 'May 10, 2011',
 '',
 '"Dark Horse"[49]',
 'Katy Perry',
 '3.67',
 'February 20, 2014',
 '',
 '"Perfect"[50]',
 'Ed Sheeran',
 '3.67',
 'November 9, 2017',
 '',
 '"Let Her Go"[51]',
 'Passenger',
 '3.61',
 'July 25, 2012',
 '',
 '"Faded"[52]',
 'Alan Walker',
 '3.59',
 'December 3, 2015',
 '',
 '"Girls Like You"[53]',
 'Maroon 5',
 '3.56',
 'May 31, 2018',
 '',
 '"Lean On"[54]',
 'Major Lazer Official',
 '3.55',
 'March 22, 2015',
 '',
 '"Baby Shark Dance"[6]',
 "Pinkfong Baby Shark - Kids' Songs & Stories",
 '7,046,700,000',
 'June 17, 2016',
 'November 2, 2020',
 '1600',
 '1,212',
 '',
 '',
 '',
 '"Despacito"[9]',
 'Luis Fonsi',
 '2,993,700,000',
 'January 12, 2017',
 'August 4, 2017',
 '206',
 '1,186',
 '',
 '[10]',
 '[B]',
 '"See You Again"[22]',
 'Wiz Khalifa',
 '2,894,000,000',
 'April 6, 2015',
 'July 10, 2017',
 '826',
 '25',
 '',
 '[23]',
 '',
 '"Gangnam Style"⁂[31]',
 'Psy',
 '803,700,000',
 'July 15, 2012',
 'November 24, 2012',
 '134',
 '1,689',
 '',
 '[32]',
 '[E]',
 '"Baby"*[66]',
 'Justin Bieber',
 '245,400,000',
 'February 19, 2010',
 'July 16, 2010',
 '149',
 '862',
 '',
 '[67]',
 '[F]',
 '"Bad Romance"[70]',
 'Lady Gaga',
 '178,400,000',
 'November 24, 2009',
 'April 14, 2010',
 '143',
 '93',
 '',
 '[71]',
 '[G]',
 '"Charlie Bit My Finger"[74]',
 'HDCYT',
 '128,900,000',
 'May 22, 2007',
 'October 25, 2009',
 '887',
 '171',
 '',
 '[75]',
 '',
 '"Evolution of Dance"[76]',
 'Judson Laipply',
 '118,900,000',
 'April 6, 2006',
 'May 2, 2009',
 '1062',
 '176',
 '',
 '[77]',
 '',
 '"Girlfriend"‡[78][79]',
 'RCA Records',
 '92,600,000',
 'February 27, 2007',
 'July 17, 2008',
 '508',
 '289',
 'November 2009[80]',
 '[81]',
 '[H]',
 '"Evolution of Dance"[76]',
 'Judson Laipply',
 '78,400,000',
 'April 6, 2006',
 'March 15, 2008',
 '651',
 '124',
 '',
 '[83]',
 '',
 '"Music Is My Hot Hot Sex"‡[84]',
 'CLARUSBARTEL72',
 '76,600,000',
 'April 9, 2007',
 'March 1, 2008',
 '327',
 '14',
 'March 15, 2008[85]',
 '[86]',
 '[I]',
 '"Evolution of Dance"*[76]',
 'Judson Laipply',
 '10,600,000',
 'April 6, 2006',
 'May 19, 2006',
 '16',
 '652',
 '',
 '[88]',
 '[J]',
 '"Pokémon Theme Music Video"‡[89]',
 'Smosh',
 '4,300,000',
 'November 28, 2005',
 'March 12, 2006',
 '105',
 '68',
 'June 2007[90]',
 '[91]',
 '[K]',
 '"Myspace – The Movie"‡[94][95]',
 'eggtea',
 '2,700,000',
 'January 31, 2006',
 'February 18, 2006',
 '18',
 '22',
 'mid-2006[96]',
 '[97]',
 '',
 '"Phony Photo Booth"‡[98]',
 'mugenized',
 '3,400,000',
 'December 1, 2005',
 'January 21, 2006',
 '50',
 '28',
 'February 14 to 18, 2006[99]',
 '[100]',
 '[L]',
 '"The Chronic of Narnia Rap"‡[104]',
 'youtubedude',
 '2,300,000',
 'December 18, 2005',
 'January 9, 2006',
 '22',
 '12',
 'February 14 to 17, 2006[105]',
 '[106]',
 '',
 '"Ronaldinho: Touch of Gold"‡*[107]',
 'Nikesoccer',
 '255,000',
 'October 21, 2005',
 'October 31, 2005',
 '10',
 '70',
 'July to August 2009[108]',
 '[109]',
 '[M]',
 '"I/O Brush"‡*[113]',
 'larfus',
 '247,000',
 'October 5, 2005',
 'October 29, 2005',
 '24',
 '2',
 'January to April 2007[114]',
 '[115]',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '']

In [13]:
data = video_name[6:125]
data

['"Baby Shark Dance"[6]',
 "Pinkfong Baby Shark - Kids' Songs & Stories",
 '14.09',
 'June 17, 2016',
 '[A]',
 '"Despacito"[9]',
 'Luis Fonsi',
 '8.38',
 'January 12, 2017',
 '[B]',
 '"Johny Johny Yes Papa"[17]',
 "LooLoo Kids - Nursery Rhymes and Children's Songs",
 '6.87',
 'October 8, 2016',
 '',
 '"Bath Song"[18]',
 'Cocomelon - Nursery Rhymes',
 '6.62',
 'May 2, 2018',
 '',
 '"Shape of You"[19]',
 'Ed Sheeran',
 '6.20',
 'January 30, 2017',
 '[C]',
 '"See You Again"[22]',
 'Wiz Khalifa',
 '6.17',
 'April 6, 2015',
 '[D]',
 '"Wheels on the Bus"[27]',
 'Cocomelon - Nursery Rhymes',
 '5.88',
 'May 24, 2018',
 '',
 '"Phonics Song with Two Words"[28]',
 'ChuChu TV Nursery Rhymes & Kids Songs',
 '5.70',
 'March 6, 2014',
 '',
 '"Uptown Funk"[29]',
 'Mark Ronson',
 '5.15',
 'November 19, 2014',
 '',
 '"Learning Colors – Colorful Eggs on a Farm"[30]',
 'Miroshka TV',
 '5.07',
 'February 27, 2018',
 '',
 '"Gangnam Style"[31]',
 'Psy',
 '5.05',
 'July 15, 2012',
 '[E]',
 '"Masha and the Bear – Recipe for Disaster"[36]',
 'Get Movies',
 '4.58',
 'January 31, 2012',
 '',
 '"Dame Tu Cosita"[37]',
 'Ultra Records',
 '4.55',
 'April 5, 2018',
 '',
 '"Axel F"[38]',
 'Crazy Frog',
 '4.34',
 'June 16, 2009',
 '',
 '"Sugar"[39]',
 'Maroon 5',
 '4.00',
 'January 14, 2015',
 '',
 '"Counting Stars"[40]',
 'OneRepublic',
 '3.97',
 'May 31, 2013',
 '',
 '"Baa Baa Black Sheep"[41]',
 'Cocomelon - Nursery Rhymes',
 '3.96',
 'June 25, 2018',
 '',
 '"Roar"[42]',
 'Katy Perry',
 '3.96',
 'September 5, 2013',
 '',
 '"Lakdi Ki Kathi"[43]',
 'Jingle Toons',
 '3.91',
 'June 14, 2018',
 '',
 '"Waka Waka (This Time for Africa)"[44]',
 'Shakira',
 '3.85',
 'June 4, 2010',
 '',
 '"Sorry"[45]',
 'Justin Bieber',
 '3.77',
 'October 22, 2015',
 '',
 '"Thinking Out Loud"[46]',
 'Ed Sheeran',
 '3.73',
 'October 7, 2014',
 '',
 '"Humpty the train on a fruits ride"[47]',
 'Kiddiestv Hindi - Nursery Rhymes & Kids Songs',
 '3.73',
 'January 26, 2018',
 '',
 '"Shree Hanuman Chalisa"[48]',
 'T-Series Bhakti Sagar',
 '3.69',
 'May 10, 2011']

In [14]:
vid_name = data[0::5]
vid_name

['"Baby Shark Dance"[6]',
 '"Despacito"[9]',
 '"Johny Johny Yes Papa"[17]',
 '"Bath Song"[18]',
 '"Shape of You"[19]',
 '"See You Again"[22]',
 '"Wheels on the Bus"[27]',
 '"Phonics Song with Two Words"[28]',
 '"Uptown Funk"[29]',
 '"Learning Colors – Colorful Eggs on a Farm"[30]',
 '"Gangnam Style"[31]',
 '"Masha and the Bear – Recipe for Disaster"[36]',
 '"Dame Tu Cosita"[37]',
 '"Axel F"[38]',
 '"Sugar"[39]',
 '"Counting Stars"[40]',
 '"Baa Baa Black Sheep"[41]',
 '"Roar"[42]',
 '"Lakdi Ki Kathi"[43]',
 '"Waka Waka (This Time for Africa)"[44]',
 '"Sorry"[45]',
 '"Thinking Out Loud"[46]',
 '"Humpty the train on a fruits ride"[47]',
 '"Shree Hanuman Chalisa"[48]']

In [15]:
artist = data[1::5]
artist

["Pinkfong Baby Shark - Kids' Songs & Stories",
 'Luis Fonsi',
 "LooLoo Kids - Nursery Rhymes and Children's Songs",
 'Cocomelon - Nursery Rhymes',
 'Ed Sheeran',
 'Wiz Khalifa',
 'Cocomelon - Nursery Rhymes',
 'ChuChu TV Nursery Rhymes & Kids Songs',
 'Mark Ronson',
 'Miroshka TV',
 'Psy',
 'Get Movies',
 'Ultra Records',
 'Crazy Frog',
 'Maroon 5',
 'OneRepublic',
 'Cocomelon - Nursery Rhymes',
 'Katy Perry',
 'Jingle Toons',
 'Shakira',
 'Justin Bieber',
 'Ed Sheeran',
 'Kiddiestv Hindi - Nursery Rhymes & Kids Songs',
 'T-Series Bhakti Sagar']

In [17]:
views = data[2::5]
views

['14.09',
 '8.38',
 '6.87',
 '6.62',
 '6.20',
 '6.17',
 '5.88',
 '5.70',
 '5.15',
 '5.07',
 '5.05',
 '4.58',
 '4.55',
 '4.34',
 '4.00',
 '3.97',
 '3.96',
 '3.96',
 '3.91',
 '3.85',
 '3.77',
 '3.73',
 '3.73',
 '3.69']

In [18]:
upload_date =  data[3::5]
upload_date

['June 17, 2016',
 'January 12, 2017',
 'October 8, 2016',
 'May 2, 2018',
 'January 30, 2017',
 'April 6, 2015',
 'May 24, 2018',
 'March 6, 2014',
 'November 19, 2014',
 'February 27, 2018',
 'July 15, 2012',
 'January 31, 2012',
 'April 5, 2018',
 'June 16, 2009',
 'January 14, 2015',
 'May 31, 2013',
 'June 25, 2018',
 'September 5, 2013',
 'June 14, 2018',
 'June 4, 2010',
 'October 22, 2015',
 'October 7, 2014',
 'January 26, 2018',
 'May 10, 2011']

In [19]:
df = pd.DataFrame({'Video Name':vid_name,'Artist':artist,'Views in Billion':views,'Upload Date':upload_date})
df

,Video Name,Artist,Views in Billion,Upload Date
0,"""Baby Shark Dance""[6]",Pinkfong Baby Shark - Kids' Songs & Stories,14.09,"June 17, 2016"
1,"""Despacito""[9]",Luis Fonsi,8.38,"January 12, 2017"
2,"""Johny Johny Yes Papa""[17]",LooLoo Kids - Nursery Rhymes and Children's Songs,6.87,"October 8, 2016"
3,"""Bath Song""[18]",Cocomelon - Nursery Rhymes,6.62,"May 2, 2018"
4,"""Shape of You""[19]",Ed Sheeran,6.20,"January 30, 2017"
5,"""See You Again""[22]",Wiz Khalifa,6.17,"April 6, 2015"
6,"""Wheels on the Bus""[27]",Cocomelon - Nursery Rhymes,5.88,"May 24, 2018"
7,"""Phonics Song with Two Words""[28]",ChuChu TV Nursery Rhymes & Kids Songs,5.70,"March 6, 2014"
8,"""Uptown Funk""[29]",Mark Ronson,5.15,"November 19, 2014"
9,"""Learning Colors – Colorful Eggs on a Farm""[30]",Miroshka TV,5.07,"February 27, 2018"
10,"""Gangnam Style""[31]",Psy,5.05,"July 15, 2012"
11,"""Masha and the Bear – Recipe for Disaster""[36]",Get Movies,4.58,"January 31, 2012"
12,"""Dame Tu Cosita""[37]",Ultra Records,4.55,"April 5, 2018"
13,"""Axel F""[38]",Crazy Frog,4.34,"June 16, 2009"
14,"""Sugar""[39]",Maroon 5,4.00,"January 14, 2015"
15,"""Counting Stars""[40]",OneRepublic,3.97,"May 31, 2013"
16,"""Baa Baa Black Sheep""[41]",Cocomelon - Nursery Rhymes,3.96,"June 25, 2018"
17,"""Roar""[42]",Katy Perry,3.96,"September 5, 2013"
18,"""Lakdi Ki Kathi""[43]",Jingle Toons,3.91,"June 14, 2018"
19,"""Waka Waka (This Time for Africa)""[44]",Shakira,3.85,"June 4, 2010"
20,"""Sorry""[45]",Justin Bieber,3.77,"October 22, 2015"
21,"""Thinking Out Loud""[46]",Ed Sheeran,3.73,"October 7, 2014"
22,"""Humpty the train on a fruits ride""[47]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,3.73,"January 26, 2018"
23,"""Shree Hanuman Chalisa""[48]",T-Series Bhakti Sagar,3.69,"May 10, 2011"

In [20]:
driver = webdriver.Chrome()
driver.get('https://www.bcci.tv/')

In [21]:
fixtures = driver.find_element(By.XPATH,'/html/body/header/div[3]/div[2]/ul/div[1]/a[2]')
fixtures.click()

In [26]:
series = []
place = []
date = []
time = []
data_info = driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')
place_info = driver.find_elements(By.XPATH,'//span[@class="ng-binding ng-scope"]')
date_info = driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')
time_info = driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')
for i in data_info:
    try:
        series.append(i.text)
    except NoSuchElementException:
        series.append(' - ')
for i in place_info:
    try:
        place.append(i.text)
    except NoSuchElementException:
        place.append(' - ')
for i in date_info:
    try:
        date.append(i.text)
    except NoSuchElementException:
        date.append(' - ')
for i in time_info:
    try:
        time.append(i.text)
    except NoSuchElementException:
        time.append(' - ')
series = series[1:]
place = place[1:]
date = date[1:]
time = time[1:]

In [27]:
df = pd.DataFrame({'Series':series,'Place':place,'Date':date,'Time':time})
df

,Series,Place,Date,Time
0,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club,","6 JULY, 2024",8:00 PM IST
1,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club,","7 JULY, 2024",8:00 PM IST
2,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club,","10 JULY, 2024",8:00 PM IST
3,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club,","13 JULY, 2024",8:00 PM IST
4,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club,","14 JULY, 2024",8:00 PM IST

In [92]:
driver = webdriver.Chrome()
driver.get('https://www.statisticstimes.com/')

In [94]:
drop_down = driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/button')
drop_down.click()
country = driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
country.click()
driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a').click()

In [95]:
data = []
info = driver.find_elements(By.TAG_NAME,'td')
for i in info:
    data.append(i.text)
data

['Source',
 'Ministry of Statistics and Programme Implementation (17)',
 'Date',
 '21 Dec 2023',
 '1',
 'Maharashtra',
 '-',
 '3,108,022',
 '13.24%',
 '417.163',
 '-',
 '2,027,971',
 '2',
 'Tamil Nadu',
 '2,364,514',
 '2,071,286',
 '8.82%',
 '278.011',
 '1,453,321',
 '1,343,287',
 '3',
 'Uttar Pradesh',
 '2,257,575',
 '1,974,532',
 '8.41%',
 '265.024',
 '1,304,678',
 '1,204,660',
 '4',
 'Karnataka',
 '2,241,368',
 '1,962,725',
 '8.36%',
 '263.440',
 '1,326,319',
 '1,229,713',
 '5',
 'Gujarat',
 '-',
 '1,937,066',
 '8.25%',
 '259.996',
 '-',
 '1,372,204',
 '6',
 'West Bengal',
 '1,554,992',
 '1,363,926',
 '5.81%',
 '183.068',
 '854,023',
 '787,758',
 '7',
 'Rajasthan',
 '1,413,620',
 '1,218,193',
 '5.19%',
 '163.507',
 '799,449',
 '738,922',
 '8',
 'Madhya Pradesh',
 '1,322,821',
 '1,136,137',
 '4.84%',
 '152.494',
 '643,124',
 '600,689',
 '9',
 'Andhra Pradesh',
 '1,317,728',
 '1,133,837',
 '4.83%',
 '152.185',
 '754,338',
 '704,889',
 '10',
 'Telangana',
 '1,313,391',
 '1,128,907',
 '4.81%',
 '151.523',
 '726,707',
 '674,371',
 '11',
 'Kerala',
 '-',
 '932,470',
 '3.97%',
 '125.157',
 '-',
 '572,747',
 '12',
 'Delhi',
 '1,043,759',
 '904,642',
 '3.85%',
 '121.422',
 '652,649',
 '597,765',
 '13',
 'Haryana',
 '994,154',
 '870,665',
 '3.71%',
 '116.862',
 '608,420',
 '568,086',
 '14',
 'Odisha',
 '774,869',
 '670,881',
 '2.86%',
 '90.047',
 '463,859',
 '432,960',
 '15',
 'Bihar',
 '751,396',
 '650,302',
 '2.77%',
 '87.284',
 '442,473',
 '399,930',
 '16',
 'Punjab',
 '673,107',
 '614,227',
 '2.62%',
 '82.442',
 '461,539',
 '433,769',
 '17',
 'Assam',
 '493,167',
 '412,612',
 '1.76%',
 '55.381',
 '289,192',
 '262,523',
 '18',
 'Chhattisgarh',
 '457,608',
 '406,416',
 '1.73%',
 '54.550',
 '289,082',
 '267,681',
 '19',
 'Jharkhand',
 '393,722',
 '358,863',
 '1.53%',
 '48.167',
 '259,800',
 '243,348',
 '20',
 'Uttarakhand',
 '302,621',
 '272,159',
 '1.16%',
 '36.530',
 '207,104',
 '193,412',
 '21',
 'Jammu & Kashmir-UT',
 '227,927',
 '199,917',
 '0.85%',
 '26.833',
 '134,716',
 '124,728',
 '22',
 'Himachal Pradesh',
 '195,405',
 '176,269',
 '0.75%',
 '23.659',
 '134,576',
 '126,433',
 '23',
 'Goa',
 '-',
 '82,604',
 '0.35%',
 '11.087',
 '-',
 '55,548',
 '24',
 'Tripura',
 '72,636',
 '62,550',
 '0.27%',
 '8.396',
 '42,997',
 '39,487',
 '25',
 'Chandigarh',
 '-',
 '45,635',
 '0.19%',
 '6.125',
 '-',
 '30,287',
 '26',
 'Puducherry',
 '-',
 '44,238',
 '0.19%',
 '5.938',
 '-',
 '27,834',
 '27',
 'Meghalaya',
 '42,697',
 '38,785',
 '0.17%',
 '5.206',
 '25,209',
 '24,267',
 '28',
 'Sikkim',
 '42,756',
 '37,557',
 '0.16%',
 '5.041',
 '22,144',
 '20,728',
 '29',
 'Manipur',
 '-',
 '36,594',
 '0.16%',
 '4.912',
 '-',
 '20,515',
 '30',
 'Arunachal Pradesh',
 '-',
 '35,124',
 '0.15%',
 '4.714',
 '-',
 '19,801',
 '31',
 'Nagaland',
 '-',
 '31,913',
 '0.14%',
 '4.283',
 '-',
 '18,363',
 '32',
 'Mizoram',
 '-',
 '27,824',
 '0.12%',
 '3.735',
 '-',
 '18,494',
 '33',
 'Andaman & Nicobar Islands',
 '-',
 '10,371',
 '0.04%',
 '1.392',
 '-',
 '7,172',
 '',
 'India',
 '27,240,712',
 '23,471,012',
 '',
 '3,150',
 '16,006,425',
 '14,925,840',
 '1',
 'Maharashtra',
 '-',
 '2,690,525',
 '13.24%',
 '-',
 '1,731,189',
 '2',
 'Tamil Nadu',
 '2,115,510',
 '1,854,109',
 '9.12%',
 '1,279,878',
 '1,182,919',
 '3',
 'Karnataka',
 '2,036,748',
 '1,782,121',
 '8.77%',
 '1,190,851',
 '1,103,468',
 '4',
 'Uttar Pradesh',
 '1,961,204',
 '1,714,265',
 '8.43%',
 '1,104,608',
 '1,018,963',
 '5',
 'Gujarat',
 '-',
 '1,700,504',
 '8.37%',
 '-',
 '1,197,613',
 '6',
 'West Bengal',
 '1,397,956',
 '1,228,065',
 '6.04%',
 '747,177',
 '687,744',
 '7',
 'Rajasthan',
 '1,259,527',
 '1,084,845',
 '5.34%',
 '694,771',
 '642,668',
 '8',
 'Madhya Pradesh',
 '1,211,113',
 '1,034,988',
 '5.09%',
 '560,168',
 '523,764',
 '9',
 'Telangana',
 '1,187,082',
 '1,024,205',
 '5.04%',
 '642,207',
 '598,257',
 '10',
 'Andhra Pradesh',
 '1,165,179',
 '1,006,285',
 '4.95%',
 '655,662',
 '613,759',
 '11',
 'Kerala',
 '-',
 '822,970',
 '4.05%',
 '-',
 '523,682',
 '12',
 'Delhi',
 '942,686',
 '810,260',
 '3.99%',
 '574,424',
 '524,235',
 '13',
 'Haryana',
 '885,308',
 '779,197',
 '3.83%',
 '542,972',
 '507,992',
 '14',
 'Bihar',
 '681,761',
 '589,712',
 '2.90%',
 '394,114',
 '356,057',
 '15',
 'Odisha',
 '691,888',
 '587,900',
 '2.89%',
 '403,222',
 '372,322',
 '16',
 'Punjab',
 '586,137',
 '537,132',
 '2.64%',
 '398,725',
 '376,417',
 '17',
 'Assam',
 '427,147',
 '363,161',
 '1.79%',
 '251,688',
 '231,816',
 '18',
 'Chhattisgarh',
 '402,189',
 '358,407',
 '1.76%',
 '250,841',
 '232,725',
 '19',
 'Jharkhand',
 '360,689',
 '325,830',
 '1.60%',
 '235,685',
 '219,234',
 '20',
 'Uttarakhand',
 '270,632',
 '242,728',
 '1.19%',
 '183,359',
 '170,891',
 '21',
 'Jammu & Kashmir-UT',
 '185,489',
 '162,644',
 '0.80%',
 '105,636',
 '97,720',
 '22',
 'Himachal Pradesh',
 '165,625',
 '149,242',
 '0.73%',
 '113,566',
 '106,509',
 '23',
 'Goa',
 '-',
 '73,973',
 '0.36%',
 '-',
 '48,609',
 '24',
 'Tripura',
 '65,808',
 '56,226',
 '0.28%',
 '37,917',
 '34,851',
 '25',
 'Chandigarh',
 '-',
 '40,573',
 '0.20%',
 '-',
 '26,703',
 '26',
 'Puducherry',
 '-',
 '40,039',
 '0.20%',
 '-',
 '24,731',
 '27',
 'Meghalaya',
 '37,925',
 '34,441',
 '0.17%',
 '21,905',
 '21,096',
 '28',
 'Manipur',
 '-',
 '32,874',
 '0.16%',
 '-',
 '17,810',
 '29',
 'Arunachal Pradesh',
 '-',
 '31,669',
 '0.16%',
 '-',
 '17,214',
 '30',
 'Sikkim',
 '35,670',
 '31,519',
 '0.16%',
 '17,832',
 '16,764',
 '31',
 'Nagaland',
 '-',
 '27,859',
 '0.14%',
 '-',
 '15,495',
 '32',
 'Mizoram',
 '-',
 '24,293',
 '0.12%',
 '-',
 '15,847',
 '33',
 'Andaman & Nicobar Islands',
 '-',
 '9,209',
 '0.05%',
 '-',
 '6,558',
 '',
 'India',
 '23,823,945',
 '20,326,803',
 '',
 '13,604,058',
 '12,670,834']

In [97]:
rank = data[4::8]
state = data[5::8]
gsdp22 = data[6::8]
gsdp21 = data[7::8]
share = data[8::8]
gdp = data[9::8]

In [100]:
df = pd.DataFrame({'Rank':rank[:33],'State':state[:33],'GSDP 22-23':gsdp22[:33],'GSDP':gsdp21[:33],'Share':share[:33],'GDP':gdp[:33]})
df

   Rank                      State GSDP 22-23       GSDP   Share      GDP
0     1                Maharashtra          -  3,108,022  13.24%  417.163
1     2                 Tamil Nadu  2,364,514  2,071,286   8.82%  278.011
2     3              Uttar Pradesh  2,257,575  1,974,532   8.41%  265.024
3     4                  Karnataka  2,241,368  1,962,725   8.36%  263.440
4     5                    Gujarat          -  1,937,066   8.25%  259.996
5     6                West Bengal  1,554,992  1,363,926   5.81%  183.068
6     7                  Rajasthan  1,413,620  1,218,193   5.19%  163.507
7     8             Madhya Pradesh  1,322,821  1,136,137   4.84%  152.494
8     9             Andhra Pradesh  1,317,728  1,133,837   4.83%  152.185
9    10                  Telangana  1,313,391  1,128,907   4.81%  151.523
10   11                     Kerala          -    932,470   3.97%  125.157
11   12                      Delhi  1,043,759    904,642   3.85%  121.422
12   13                    Haryana    994,154    870,665   3.71%  116.862
13   14                     Odisha    774,869    670,881   2.86%   90.047
14   15                      Bihar    751,396    650,302   2.77%   87.284
15   16                     Punjab    673,107    614,227   2.62%   82.442
16   17                      Assam    493,167    412,612   1.76%   55.381
17   18               Chhattisgarh    457,608    406,416   1.73%   54.550
18   19                  Jharkhand    393,722    358,863   1.53%   48.167
19   20                Uttarakhand    302,621    272,159   1.16%   36.530
20   21         Jammu & Kashmir-UT    227,927    199,917   0.85%   26.833
21   22           Himachal Pradesh    195,405    176,269   0.75%   23.659
22   23                        Goa          -     82,604   0.35%   11.087
23   24                    Tripura     72,636     62,550   0.27%    8.396
24   25                 Chandigarh          -     45,635   0.19%    6.125
25   26                 Puducherry          -     44,238   0.19%    5.938
26   27                  Meghalaya     42,697     38,785   0.17%    5.206
27   28                     Sikkim     42,756     37,557   0.16%    5.041
28   29                    Manipur          -     36,594   0.16%    4.912
29   30          Arunachal Pradesh          -     35,124   0.15%    4.714
30   31                   Nagaland          -     31,913   0.14%    4.283
31   32                    Mizoram          -     27,824   0.12%    3.735
32   33  Andaman & Nicobar Islands          -     10,371   0.04%    1.392

In [18]:
driver = webdriver.Chrome()
driver.get('https://github.com/')

In [19]:
drop_down = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]')
action = webdriver.ActionChains(driver)
action.move_to_element(drop_down)
action.perform()
trending = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a')
trending.click()

In [22]:
reps_title = []
reps_desc = []
contri_count = []
lang_used = []
title = driver.find_elements(By.XPATH,'//h2[@class="h3 lh-condensed"]/a')
desc = driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
contri = driver.find_elements(By.XPATH,'//a[@class="Link Link--muted d-inline-block mr-3"]')
lang = driver.find_elements(By.XPATH,'//span[@itemprop="programmingLanguage"]')
for i in title:
    try:
        reps_title.append(i.text)
    except NoSuchElementException:
        reps_title.append(' - ')
for i in desc:
    try:
        reps_desc.append(i.text)
    except NoSuchElementException:
        reps_desc.append(' - ')
for i in contri:
    try:
        contri_count.append(i.text)
    except NoSuchElementException:
        contri_count.append(' - ')
for i in lang:
    try:
        lang_used.append(i.text)
    except NoSuchElementException:
        lang_used.append(' - ')

50

In [25]:
contri_count1 = contri_count[0::2]
print(len(contri_count1))
print(len(reps_title),len(reps_desc),len(lang_used))

25
25 21 19

In [32]:
reps_desc = []
desc = driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
for i in desc:
        reps_desc.append(i.text)
reps_desc

['🕵️\u200d♂️ All-in-one OSINT tool for analysing any website',
 'Nintendo Switch emulator',
 'bpftop provides a dynamic real-time view of running eBPF programs. It displays the average runtime, events per second, and estimated total CPU % for each program.',
 'Windows in a Docker container.',
 'Automatic polyfill service.',
 'A based rollup. 🥁',
 'A framework for prompt tuning using Intent-based Prompt Calibration',
 'A collective list of free APIs',
 'SuperTux source code',
 '👩🏿\u200d💻👨🏾\u200d💻👩🏼\u200d💻👨🏽\u200d💻👩🏻\u200d💻中国独立开发者项目列表 -- 分享大家都在做什么',
 'There can be more than Notion and Miro. AFFiNE(pronounced [ə‘fain]) is a next-gen knowledge base that brings planning, sorting and creating all together. Privacy first, open-source, customizable and ready to use.',
 'Animate Anyone: Consistent and Controllable Image-to-Video Synthesis for Character Animation',
 'The distributed financial transactions database designed for mission critical safety and performance.',
 'yuzu Early Access source code',
 '🔥 全面ESM+Vue3+Vite+Element-Plus+TypeScript编写的一款后台管理系统（兼容移动端）',
 'Experimental Nintendo Switch Emulator written in C#',
 'Turns Data and AI algorithms into production-ready web applications in no time.',
 'A curated list of free courses & certifications.',
 '🎓 Path to a free self-taught education in Computer Science!',
 'High-quality multi-lingual text-to-speech library by MyShell.ai. Support English, Spanish, French, Chinese, Japanese and Korean.',
 "Let's bake some (AI) stickers!"]

In [26]:
reps_desc

['🕵️\u200d♂️ All-in-one OSINT tool for analysing any website',
 'Nintendo Switch emulator',
 'bpftop provides a dynamic real-time view of running eBPF programs. It displays the average runtime, events per second, and estimated total CPU % for each program.',
 'Windows in a Docker container.',
 'Automatic polyfill service.',
 'A based rollup. 🥁',
 'A framework for prompt tuning using Intent-based Prompt Calibration',
 'A collective list of free APIs',
 'SuperTux source code',
 '👩🏿\u200d💻👨🏾\u200d💻👩🏼\u200d💻👨🏽\u200d💻👩🏻\u200d💻中国独立开发者项目列表 -- 分享大家都在做什么',
 'There can be more than Notion and Miro. AFFiNE(pronounced [ə‘fain]) is a next-gen knowledge base that brings planning, sorting and creating all together. Privacy first, open-source, customizable and ready to use.',
 'Animate Anyone: Consistent and Controllable Image-to-Video Synthesis for Character Animation',
 'The distributed financial transactions database designed for mission critical safety and performance.',
 'yuzu Early Access source code',
 '🔥 全面ESM+Vue3+Vite+Element-Plus+TypeScript编写的一款后台管理系统（兼容移动端）',
 'Experimental Nintendo Switch Emulator written in C#',
 'Turns Data and AI algorithms into production-ready web applications in no time.',
 'A curated list of free courses & certifications.',
 '🎓 Path to a free self-taught education in Computer Science!',
 'High-quality multi-lingual text-to-speech library by MyShell.ai. Support English, Spanish, French, Chinese, Japanese and Korean.',
 "Let's bake some (AI) stickers!"]

In [33]:
df = pd.DataFrame({'Repository Title':reps_title[:19],'Repository Description':reps_desc[:19],'Contributors Count':contri_count[:19],'Language':lang_used[:19]})
df

,Repository Title,Repository Description,Contributors Count,Language
0,Lissy93 / web-check,🕵️‍♂️ All-in-one OSINT tool for analysing any ...,"12,034",TypeScript
1,yuzu-emu / yuzu,Nintendo Switch emulator,889,C++
2,Netflix / bpftop,bpftop provides a dynamic real-time view of ru...,"37,770",Rust
3,yuzu-emu / yuzu-android,Windows in a Docker container.,"3,788",C++
4,dockur / windows,Automatic polyfill service.,"1,227",Shell
5,polyfillpolyfill / polyfill-service,A based rollup. 🥁,43,HTML
6,taikoxyz / taiko-mono,A framework for prompt tuning using Intent-bas...,"1,992",Python
7,Eladlev / AutoPrompt,A collective list of free APIs,163,Python
8,public-apis / public-apis,SuperTux source code,"3,055",JavaScript
9,Lunakepio / Mario-Kart-3.js,👩🏿‍💻👨🏾‍💻👩🏼‍💻👨🏽‍💻👩🏻‍💻中国独立开发者项目列表 -- 分享大家都在做什么,178,C++
10,HumanAIGC / EMO,There can be more than Notion and Miro. AFFiNE...,"6,421",C++
11,yuzu-emu / yuzu-mainline,Animate Anyone: Consistent and Controllable Im...,573,TypeScript
12,SuperTux / supertux,The distributed financial transactions databas...,"3,320",Zig
13,1c7 / chinese-independent-developer,yuzu Early Access source code,"1,586",C++
14,toeverything / AFFiNE,🔥 全面ESM+Vue3+Vite+Element-Plus+TypeScript编写的一款...,"1,073",Vue
15,HumanAIGC / AnimateAnyone,Experimental Nintendo Switch Emulator written ...,72,C#
16,tigerbeetle / tigerbeetle,Turns Data and AI algorithms into production-r...,"283,735",Python
17,pineappleEA / pineapple-src,A curated list of free courses & certifications.,"30,971",Python
18,pure-admin / vue-pure-admin,🎓 Path to a free self-taught education in Comp...,"2,630",Elixir

In [36]:
driver = webdriver.Chrome()
driver.get('https:/www.billboard.com/')

In [37]:
driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a').click()
time.sleep(2)
driver.find_element(By.XPATH,'/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[1]/div/div[2]/span/a').click()

In [62]:
song_name = []
art_name=[]
lwr = []
pr = []
wob = []
song = driver.find_elements(By.XPATH,'//h3[@id="title-of-a-story"]')
artist = driver.find_elements(By.XPATH,'//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only"]')
last_r = driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max"]/span')
peak = driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-bg-color a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-background-color-grey-lightest lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-hidden@mobile-max"]/span')
onboard = driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max"]/span')
for i in song:
    try:
        song_name.append(i.text)
    except NoSuchElementException:
        song_name.append(' - ')
for i in artist:
    try:
        art_name.append(i.text)
    except NoSuchElementException:
        art_name.append(' - ')
for i in last_r:
    try:
        lwr.append(i.text)
    except NoSuchElementException:
        lwr.append(' - ')
for i in peak:
    try:
        pr.append(i.text)
    except NoSuchElementException:
        pr.append(' - ')
for i in onboard:
    try:
        wob.append(i.text)
    except NoSuchElementException:
        wob.append(' - ')

In [61]:
song_name1 = song_name[6:406:4]
print(len(song_name1))
lwr1 = lwr[0::2]
print(len(lwr1))
wob1 = wob[1::2]
print(len(wob1))

100
100
100

In [63]:
art_name

['Jack Harlow',
 'Teddy Swims',
 '¥$: Kanye West & Ty Dolla $ign Featuring Rich The Kid & Playboi Carti',
 'Benson Boone',
 'SZA',
 'Taylor Swift',
 'Tate McRae',
 'Zach Bryan Featuring Kacey Musgraves',
 'Doja Cat',
 'Ariana Grande',
 'Noah Kahan',
 'Luke Combs',
 'Tyla',
 'Morgan Wallen',
 '21 Savage',
 'Morgan Wallen',
 'Taylor Swift',
 'Warren Zeiders',
 'Miley Cyrus',
 'Doja Cat',
 'Dua Lipa',
 'Muni Long',
 'Flo Milli',
 'Xavi',
 'Luke Combs',
 'Dua Lipa',
 'Cody Johnson',
 'Sabrina Carpenter',
 'Billie Eilish',
 'Drake Featuring Sexyy Red & SZA',
 'Bryson Tiller',
 'HARDY',
 'Justin Timberlake',
 'Nicki Minaj Featuring Lil Uzi Vert',
 'Olivia Rodrigo',
 'Jessie Murph & Jelly Roll',
 'Victoria Monet',
 'YG Marley',
 'Jelly Roll With Lainey Wilson',
 'Tate McRae',
 'Yeat',
 'Dua Lipa',
 'Jelly Roll',
 'JID Featuring 21 Savage & Baby Tate',
 'Nate Smith',
 'Usher Featuring Lil Jon & Ludacris',
 'Parker McCollum',
 'Usher, Summer Walker & 21 Savage',
 'Xavi',
 'Djo',
 'BossMan Dlow',
 '¥$: Kanye West & Ty Dolla $ign',
 'Morgan Wallen Featuring Eric Church',
 'Beyonce',
 'Drake Featuring J. Cole',
 '¥$: Kanye West & Ty Dolla $ign',
 'The Weeknd, Jennie & Lily Rose Depp',
 '¥$: Kanye West & Ty Dolla $ign',
 'Rich Amiri',
 'Karol G & Tiesto',
 'Chayce Beckham',
 'Sophie Ellis-Bextor',
 'Drake',
 'Ice Spice',
 'Nicki Minaj',
 'Travis Scott Featuring Playboi Carti',
 'Megan Thee Stallion',
 'Kane Brown',
 'Don Toliver',
 'Morgan Wallen',
 '310babii',
 'Noah Kahan',
 'Thomas Rhett Featuring Morgan Wallen',
 '4Batz',
 'Kali Uchis & Peso Pluma',
 '21 Savage, Travis Scott & Metro Boomin',
 'Lainey Wilson',
 'Peso Pluma & Anitta',
 'Fuerza Regida & Marshmello',
 'Jung Kook',
 'Gunna',
 'Drake Featuring Yeat',
 'Good Neighbours',
 '¥$: Kanye West & Ty Dolla $ign Featuring Lil Durk & Bump J',
 'GloRilla',
 'Dylan Gossett',
 'BigXthaPlug',
 'Yeat',
 'Bad Bunny & Feid',
 'Chris Brown Featuring Davido & Lojay',
 'Zach Bryan',
 'Fuerza Regida',
 '¥$: Kanye West & Ty Dolla $ign',
 'Offset & Don Toliver',
 '¥$: Kanye West & Ty Dolla $ign Featuring North West',
 'Bad Bunny',
 'Bailey Zimmerman',
 'The Red Clay Strays',
 'Noah Kahan With Hozier']

In [64]:
art_name.insert(0,'Beyonce')
print(len(art_name))

100

In [65]:
df = pd.DataFrame({'Song Name':song_name1,'Artist name':art_name,'Last Week Rank':lwr1,'Peak Rank':pr,'Weeks On Chart':wob1})
df

,Song Name,Artist name,Last Week Rank,Peak Rank,Weeks On Chart
0,Texas Hold 'Em,Beyonce,2,1,2
1,Lovin On Me,Jack Harlow,1,1,15
2,Lose Control,Teddy Swims,5,2,28
3,Carnival,¥$: Kanye West & Ty Dolla $ign Featuring Rich ...,3,3,2
4,Beautiful Things,Benson Boone,4,3,5
...,...,...,...,...,...
95,Talking,¥$: Kanye West & Ty Dolla $ign Featuring North...,30,30,2
96,Monaco,Bad Bunny,97,5,19
97,Where It Ends,Bailey Zimmerman,-,32,8
98,Wondering Why,The Red Clay Strays,-,71,8
99,Northern Attitude,Noah Kahan With Hozier,75,37,12

In [66]:
driver = webdriver.Chrome()
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [68]:
info = []
data = driver.find_elements(By.TAG_NAME,'td')
for i in data:
    info.append(i.text)
info

['SOURCE: NIELSEN BOOK SCAN',
 '1',
 'Da Vinci Code,The',
 'Brown, Dan',
 '5,094,805',
 'Transworld',
 'Crime, Thriller & Adventure',
 '2',
 'Harry Potter and the Deathly Hallows',
 'Rowling, J.K.',
 '4,475,152',
 'Bloomsbury',
 "Children's Fiction",
 '3',
 "Harry Potter and the Philosopher's Stone",
 'Rowling, J.K.',
 '4,200,654',
 'Bloomsbury',
 "Children's Fiction",
 '4',
 'Harry Potter and the Order of the Phoenix',
 'Rowling, J.K.',
 '4,179,479',
 'Bloomsbury',
 "Children's Fiction",
 '5',
 'Fifty Shades of Grey',
 'James, E. L.',
 '3,758,936',
 'Random House',
 'Romance & Sagas',
 '6',
 'Harry Potter and the Goblet of Fire',
 'Rowling, J.K.',
 '3,583,215',
 'Bloomsbury',
 "Children's Fiction",
 '7',
 'Harry Potter and the Chamber of Secrets',
 'Rowling, J.K.',
 '3,484,047',
 'Bloomsbury',
 "Children's Fiction",
 '8',
 'Harry Potter and the Prisoner of Azkaban',
 'Rowling, J.K.',
 '3,377,906',
 'Bloomsbury',
 "Children's Fiction",
 '9',
 'Angels and Demons',
 'Brown, Dan',
 '3,193,946',
 'Transworld',
 'Crime, Thriller & Adventure',
 '10',
 "Harry Potter and the Half-blood Prince:Children's Edition",
 'Rowling, J.K.',
 '2,950,264',
 'Bloomsbury',
 "Children's Fiction",
 '11',
 'Fifty Shades Darker',
 'James, E. L.',
 '2,479,784',
 'Random House',
 'Romance & Sagas',
 '12',
 'Twilight',
 'Meyer, Stephenie',
 '2,315,405',
 'Little, Brown Book',
 'Young Adult Fiction',
 '13',
 'Girl with the Dragon Tattoo,The:Millennium Trilogy',
 'Larsson, Stieg',
 '2,233,570',
 'Quercus',
 'Crime, Thriller & Adventure',
 '14',
 'Fifty Shades Freed',
 'James, E. L.',
 '2,193,928',
 'Random House',
 'Romance & Sagas',
 '15',
 'Lost Symbol,The',
 'Brown, Dan',
 '2,183,031',
 'Transworld',
 'Crime, Thriller & Adventure',
 '16',
 'New Moon',
 'Meyer, Stephenie',
 '2,152,737',
 'Little, Brown Book',
 'Young Adult Fiction',
 '17',
 'Deception Point',
 'Brown, Dan',
 '2,062,145',
 'Transworld',
 'Crime, Thriller & Adventure',
 '18',
 'Eclipse',
 'Meyer, Stephenie',
 '2,052,876',
 'Little, Brown Book',
 'Young Adult Fiction',
 '19',
 'Lovely Bones,The',
 'Sebold, Alice',
 '2,005,598',
 'Pan Macmillan',
 'General & Literary Fiction',
 '20',
 'Curious Incident of the Dog in the Night-time,The',
 'Haddon, Mark',
 '1,979,552',
 'Random House',
 'General & Literary Fiction',
 '21',
 'Digital Fortress',
 'Brown, Dan',
 '1,928,900',
 'Transworld',
 'Crime, Thriller & Adventure',
 '22',
 'Short History of Nearly Everything,A',
 'Bryson, Bill',
 '1,852,919',
 'Transworld',
 'Popular Science',
 '23',
 'Girl Who Played with Fire,The:Millennium Trilogy',
 'Larsson, Stieg',
 '1,814,784',
 'Quercus',
 'Crime, Thriller & Adventure',
 '24',
 'Breaking Dawn',
 'Meyer, Stephenie',
 '1,787,118',
 'Little, Brown Book',
 'Young Adult Fiction',
 '25',
 'Very Hungry Caterpillar,The:The Very Hungry Caterpillar',
 'Carle, Eric',
 '1,783,535',
 'Penguin',
 'Picture Books',
 '26',
 'Gruffalo,The',
 'Donaldson, Julia',
 '1,781,269',
 'Pan Macmillan',
 'Picture Books',
 '27',
 "Jamie's 30-Minute Meals",
 'Oliver, Jamie',
 '1,743,266',
 'Penguin',
 'Food & Drink: General',
 '28',
 'Kite Runner,The',
 'Hosseini, Khaled',
 '1,629,119',
 'Bloomsbury',
 'General & Literary Fiction',
 '29',
 'One Day',
 'Nicholls, David',
 '1,616,068',
 'Hodder & Stoughton',
 'General & Literary Fiction',
 '30',
 'Thousand Splendid Suns,A',
 'Hosseini, Khaled',
 '1,583,992',
 'Bloomsbury',
 'General & Literary Fiction',
 '31',
 "Girl Who Kicked the Hornets' Nest,The:Millennium Trilogy",
 'Larsson, Stieg',
 '1,555,135',
 'Quercus',
 'Crime, Thriller & Adventure',
 '32',
 "Time Traveler's Wife,The",
 'Niffenegger, Audrey',
 '1,546,886',
 'Random House',
 'General & Literary Fiction',
 '33',
 'Atonement',
 'McEwan, Ian',
 '1,539,428',
 'Random House',
 'General & Literary Fiction',
 '34',
 "Bridget Jones's Diary:A Novel",
 'Fielding, Helen',
 '1,508,205',
 'Pan Macmillan',
 'General & Literary Fiction',
 '35',
 'World According to Clarkson,The',
 'Clarkson, Jeremy',
 '1,489,403',
 'Penguin',
 'Humour: Collections & General',
 '36',
 "Captain Corelli's Mandolin",
 'Bernieres, Louis de',
 '1,352,318',
 'Random House',
 'General & Literary Fiction',
 '37',
 'Sound of Laughter,The',
 'Kay, Peter',
 '1,310,207',
 'Random House',
 'Autobiography: General',
 '38',
 'Life of Pi',
 'Martel, Yann',
 '1,310,176',
 'Canongate',
 'General & Literary Fiction',
 '39',
 'Billy Connolly',
 'Stephenson, Pamela',
 '1,231,957',
 'HarperCollins',
 'Biography: The Arts',
 '40',
 'Child Called It,A',
 'Pelzer, Dave',
 '1,217,712',
 'Orion',
 'Autobiography: General',
 '41',
 "Gruffalo's Child,The",
 'Donaldson, Julia',
 '1,208,711',
 'Pan Macmillan',
 'Picture Books',
 '42',
 "Angela's Ashes:A Memoir of a Childhood",
 'McCourt, Frank',
 '1,204,058',
 'HarperCollins',
 'Autobiography: General',
 '43',
 'Birdsong',
 'Faulks, Sebastian',
 '1,184,967',
 'Random House',
 'General & Literary Fiction',
 '44',
 'Northern Lights:His Dark Materials S.',
 'Pullman, Philip',
 '1,181,503',
 'Scholastic Ltd.',
 'Young Adult Fiction',
 '45',
 'Labyrinth',
 'Mosse, Kate',
 '1,181,093',
 'Orion',
 'General & Literary Fiction',
 '46',
 'Harry Potter and the Half-blood Prince',
 'Rowling, J.K.',
 '1,153,181',
 'Bloomsbury',
 'Science Fiction & Fantasy',
 '47',
 'Help,The',
 'Stockett, Kathryn',
 '1,132,336',
 'Penguin',
 'General & Literary Fiction',
 '48',
 'Man and Boy',
 'Parsons, Tony',
 '1,130,802',
 'HarperCollins',
 'General & Literary Fiction',
 '49',
 'Memoirs of a Geisha',
 'Golden, Arthur',
 '1,126,337',
 'Random House',
 'General & Literary Fiction',
 '50',
 "No.1 Ladies' Detective Agency,The:No.1 Ladies' Detective Agency S.",
 'McCall Smith, Alexander',
 '1,115,549',
 'Little, Brown Book',
 'Crime, Thriller & Adventure',
 '51',
 'Island,The',
 'Hislop, Victoria',
 '1,108,328',
 'Headline',
 'General & Literary Fiction',
 '52',
 'PS, I Love You',
 'Ahern, Cecelia',
 '1,107,379',
 'HarperCollins',
 'General & Literary Fiction',
 '53',
 'You are What You Eat:The Plan That Will Change Your Life',
 'McKeith, Gillian',
 '1,104,403',
 'Penguin',
 'Fitness & Diet',
 '54',
 'Shadow of the Wind,The',
 'Zafon, Carlos Ruiz',
 '1,092,349',
 'Orion',
 'General & Literary Fiction',
 '55',
 'Tales of Beedle the Bard,The',
 'Rowling, J.K.',
 '1,090,847',
 'Bloomsbury',
 "Children's Fiction",
 '56',
 'Broker,The',
 'Grisham, John',
 '1,087,262',
 'Random House',
 'Crime, Thriller & Adventure',
 '57',
 "Dr. Atkins' New Diet Revolution:The No-hunger, Luxurious Weight Loss P",
 'Atkins, Robert C.',
 '1,054,196',
 'Random House',
 'Fitness & Diet',
 '58',
 'Subtle Knife,The:His Dark Materials S.',
 'Pullman, Philip',
 '1,037,160',
 'Scholastic Ltd.',
 'Young Adult Fiction',
 '59',
 'Eats, Shoots and Leaves:The Zero Tolerance Approach to Punctuation',
 'Truss, Lynne',
 '1,023,688',
 'Profile Books Group',
 'Usage & Writing Guides',
 '60',
 "Delia's How to Cook:(Bk.1)",
 'Smith, Delia',
 '1,015,956',
 'Random House',
 'Food & Drink: General',
 '61',
 'Chocolat',
 'Harris, Joanne',
 '1,009,873',
 'Transworld',
 'General & Literary Fiction',
 '62',
 'Boy in the Striped Pyjamas,The',
 'Boyne, John',
 '1,004,414',
 'Random House Childrens Books G',
 'Young Adult Fiction',
 '63',
 "My Sister's Keeper",
 'Picoult, Jodi',
 '1,003,780',
 'Hodder & Stoughton',
 'General & Literary Fiction',
 '64',
 'Amber Spyglass,The:His Dark Materials S.',
 'Pullman, Philip',
 '1,002,314',
 'Scholastic Ltd.',
 'Young Adult Fiction',
 '65',
 'To Kill a Mockingbird',
 'Lee, Harper',
 '998,213',
 'Random House',
 'General & Literary Fiction',
 '66',
 'Men are from Mars, Women are from Venus:A Practical Guide for Improvin',
 'Gray, John',
 '992,846',
 'HarperCollins',
 'Popular Culture & Media: General Interest',
 '67',
 'Dear Fatty',
 'French, Dawn',
 '986,753',
 'Random House',
 'Autobiography: The Arts',
 '68',
 'Short History of Tractors in Ukrainian,A',
 'Lewycka, Marina',
 '986,115',
 'Penguin',
 'General & Literary Fiction',
 '69',
 'Hannibal',
 'Harris, Thomas',
 '970,509',
 'Random House',
 'Crime, Thriller & Adventure',
 '70',
 'Lord of the Rings,The',
 'Tolkien, J. R. R.',
 '967,466',
 'HarperCollins',
 'Science Fiction & Fantasy',
 '71',
 'Stupid White Men:...and Other Sorry Excuses for the State of the Natio',
 'Moore, Michael',
 '963,353',
 'Penguin',
 'Current Affairs & Issues',
 '72',
 'Interpretation of Murder,The',
 'Rubenfeld, Jed',
 '962,515',
 'Headline',
 'Crime, Thriller & Adventure',
 '73',
 'Sharon Osbourne Extreme:My Autobiography',
 'Osbourne, Sharon',
 '959,496',
 'Little, Brown Book',
 'Autobiography: The Arts',
 '74',
 'Alchemist,The:A Fable About Following Your Dream',
 'Coelho, Paulo',
 '956,114',
 'HarperCollins',
 'General & Literary Fiction',
 '75',
 "At My Mother's Knee ...:and Other Low Joints",
 "O'Grady, Paul",
 '945,640',
 'Transworld',
 'Autobiography: The Arts',
 '76',
 'Notes from a Small Island',
 'Bryson, Bill',
 '931,312',
 'Transworld',
 'Travel Writing',
 '77',
 'Return of the Naked Chef,The',
 'Oliver, Jamie',
 '925,425',
 'Penguin',
 'Food & Drink: General',
 '78',
 'Bridget Jones: The Edge of Reason',
 'Fielding, Helen',
 '924,695',
 'Pan Macmillan',
 'General & Literary Fiction',
 '79',
 "Jamie's Italy",
 'Oliver, Jamie',
 '906,968',
 'Penguin',
 'National & Regional Cuisine',
 '80',
 'I Can Make You Thin',
 'McKenna, Paul',
 '905,086',
 'Transworld',
 'Fitness & Diet',
 '81',
 'Down Under',
 'Bryson, Bill',
 '890,847',
 'Transworld',
 'Travel Writing',
 '82',
 'Summons,The',
 'Grisham, John',
 '869,671',
 'Random House',
 'Crime, Thriller & Adventure',
 '83',
 'Small Island',
 'Levy, Andrea',
 '869,659',
 'Headline',
 'General & Literary Fiction',
 '84',
 'Nigella Express',
 'Lawson, Nigella',
 '862,602',
 'Random House',
 'Food & Drink: General',
 '85',
 'Brick Lane',
 'Ali, Monica',
 '856,540',
 'Transworld',
 'General & Literary Fiction',
 '86',
 "Memory Keeper's Daughter,The",
 'Edwards, Kim',
 '845,858',
 'Penguin',
 'General & Literary Fiction',
 '87',
 'Room on the Broom',
 'Donaldson, Julia',
 '842,535',
 'Pan Macmillan',
 'Picture Books',
 '88',
 'About a Boy',
 'Hornby, Nick',
 '828,215',
 'Penguin',
 'General & Literary Fiction',
 '89',
 'My Booky Wook',
 'Brand, Russell',
 '820,563',
 'Hodder & Stoughton',
 'Autobiography: The Arts',
 '90',
 'God Delusion,The',
 'Dawkins, Richard',
 '816,907',
 'Transworld',
 'Popular Science',
 '91',
 '"Beano" Annual,The',
 '0',
 '816,585',
 'D.C. Thomson',
 "Children's Annuals",
 '92',
 'White Teeth',
 'Smith, Zadie',
 '815,586',
 'Penguin',
 'General & Literary Fiction',
 '93',
 'House at Riverton,The',
 'Morton, Kate',
 '814,370',
 'Pan Macmillan',
 'General & Literary Fiction',
 '94',
 'Book Thief,The',
 'Zusak, Markus',
 '809,641',
 'Transworld',
 'General & Literary Fiction',
 '95',
 'Nights of Rain and Stars',
 'Binchy, Maeve',
 '808,900',
 'Orion',
 'General & Literary Fiction',
 '96',
 'Ghost,The',
 'Harris, Robert',
 '807,311',
 'Random House',
 'General & Literary Fiction',
 '97',
 'Happy Days with the Naked Chef',
 'Oliver, Jamie',
 '794,201',
 'Penguin',
 'Food & Drink: General',
 '98',
 'Hunger Games,The:Hunger Games Trilogy',
 'Collins, Suzanne',
 '792,187',
 'Scholastic Ltd.',
 'Young Adult Fiction',
 '99',
 "Lost Boy,The:A Foster Child's Search for the Love of a Family",
 'Pelzer, Dave',
 '791,507',
 'Orion',
 'Biography: General',
 '100',
 "Jamie's Ministry of Food:Anyone Can Learn to Cook in 24 Hours",
 'Oliver, Jamie',
 '791,095',
 'Penguin',
 'Food & Drink: General']

In [72]:
name = info[1::6]
author = info[2::6]
volumes = info[3::6]
publisher = info[4::6]
genre = info[5::6]

In [73]:
df = pd.DataFrame({'Title':name,'Author':author,'Volumes Sold':volumes,'Publisher':publisher,'Genre':genre})
df

,Title,Author,Volumes Sold,Publisher,Genre
0,1,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld
1,2,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury
2,3,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury
3,4,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury
4,5,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House
...,...,...,...,...,...
95,96,"Ghost,The","Harris, Robert","807,311",Random House
96,97,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin
97,98,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.
98,99,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion
99,100,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin

In [74]:
driver = webdriver.Chrome()
driver.get('https://www.imdb.com/list/ls512407256/')

In [76]:
name = []
year_span = []
genre = []
run = []
rate = []
vote = []
nam = driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]/a')
year = driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]/span')
gen = driver.find_elements(By.XPATH,'//span[@class="genre"]')
runtm = driver.find_elements(By.XPATH,'//span[@class="runtime"]')
rat = driver.find_elements(By.XPATH,'//div[@class="ipl-rating-widget"]')
vot = driver.find_elements(By.XPATH,'//span[@name="nv"]')
for i in nam:
    name.append(i.text)
for i in year:
    year_span.append(i.text)
for i in gen:
    genre.append(i.text)
for i in runtm:
    run.append(i.text)
for i in rat:
    rate.append(i.text)
for i in vot:
    vote.append(i.text)

print(len(name),len(year_span),len(genre),len(run),len(rate),len(vote))

100 200 100 100 100 100

In [78]:
year = year_span[1::2]
print(len(year))

100

In [79]:
df = pd.DataFrame({'Name':name,'Year Span':year,'Genre':genre,'Rumtime':run,'Rating':rate,'Votes':vote})
df

,Name,Year Span,Genre,Rumtime,Rating,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",55 min,9.2\nRate,"2,262,002"
1,Stranger Things,(2016–2025),"Drama, Fantasy, Horror",51 min,8.7\nRate,"1,320,102"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1\nRate,"1,071,973"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5\nRate,"313,431"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6\nRate,"273,343"
...,...,...,...,...,...,...
95,True Detective,(2014– ),"Crime, Drama, Mystery",55 min,8.9\nRate,"645,066"
96,Teen Wolf,(2011–2017),"Action, Drama, Fantasy",41 min,7.7\nRate,"162,030"
97,The OA,(2016–2019),"Drama, Fantasy, Mystery",60 min,7.8\nRate,"114,843"
98,The Simpsons,(1989– ),"Animation, Comedy",22 min,8.7\nRate,"433,031"
99,Desperate Housewives,(2004–2012),"Comedy, Drama, Mystery",45 min,7.6\nRate,"138,660"

In [80]:
driver = webdriver.Chrome()
driver.get('https://archive.ics.uci.edu/')

In [81]:
driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/header/nav/ul/li[1]/a').click()

In [82]:
driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[1]/div/label[2]/div[2]/span[2]').click()

In [84]:
dname = []
data = []
task = []
att_typ = []
nins = []
natt = []
year = []

dn = driver.find_elements(By.XPATH,'//h2[@class="truncate text-primary"]/a')
dt = driver.find_elements(By.XPATH,'//span[@class="truncate"]')
tsk = driver.find_elements(By.XPATH,'//p[@class="truncate"]')
at_ty = driver.find_elements(By.TAG_NAME,'td')

for i in dn:
    dname.append(i.text)
for i in dt:
    data.append(i.text)
for i in tsk:
    task.append(i.text)
for i in at_ty:
    att_typ.append(i.text)
    
print(len(dname),len(data),len(task),len(att_typ))

10 80 10 40

In [87]:
data_type = data[0::8]
print(data_type)
nins = data[2::8]
print(nins)
natt = data[3::8]
print(natt)
att_type = att_typ[1::4]
print(att_type)
year = att_typ[2::4]
print(year)

['Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification', 'Classification, Regression', 'Classification']
['150 Instances', '13.61K Instances', '303 Instances', '3.81K Instances', '48.84K Instances', '900 Instances', '569 Instances', '178 Instances', '4.9K Instances', '1 Instances']
['4 Features', '16 Features', '13 Features', '7 Features', '14 Features', '8 Features', '30 Features', '13 Features', '12 Features', '20 Features']
['Real', 'Integer, Real', 'Categorical, Integer, Real', 'Real', 'Categorical, Integer', 'Real, Integer', 'Real', 'Integer, Real', 'Real', 'Categorical, Integer']
['7/1/1988', '9/14/2020', '7/1/1988', '10/6/2019', '5/1/1996', '8/14/2023', '11/1/1995', '7/1/1991', '10/7/2009', 'N/A']

In [88]:
df = pd.DataFrame({'Dataset Name':dname,'Data Type':data_type,'Task':task,'Attribute type':att_type,'No. of instances':nins,'No.of attributes':natt,'Year':year})
df

,Dataset Name,Data Type,Task,Attribute type,No. of instances,No.of attributes,Year
0,Iris,Classification,"A small classic dataset from Fisher, 1936. One...",Real,150 Instances,4 Features,7/1/1988
1,Dry Bean Dataset,Classification,"Images of 13,611 grains of 7 different registe...","Integer, Real",13.61K Instances,16 Features,9/14/2020
2,Heart Disease,Classification,"4 databases: Cleveland, Hungary, Switzerland, ...","Categorical, Integer, Real",303 Instances,13 Features,7/1/1988
3,Rice (Cammeo and Osmancik),Classification,A total of 3810 rice grain's images were taken...,Real,3.81K Instances,7 Features,10/6/2019
4,Adult,Classification,Predict whether income exceeds $50K/yr based o...,"Categorical, Integer",48.84K Instances,14 Features,5/1/1996
5,Raisin,Classification,Images of the Kecimen and Besni raisin varieti...,"Real, Integer",900 Instances,8 Features,8/14/2023
6,Breast Cancer Wisconsin (Diagnostic),Classification,Diagnostic Wisconsin Breast Cancer Database.,Real,569 Instances,30 Features,11/1/1995
7,Wine,Classification,Using chemical analysis to determine the origi...,"Integer, Real",178 Instances,13 Features,7/1/1991
8,Wine Quality,"Classification, Regression","Two datasets are included, related to red and ...",Real,4.9K Instances,12 Features,10/7/2009
9,Diabetes,Classification,This diabetes dataset is from AIM '94,"Categorical, Integer",1 Instances,20 Features,N/A